[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[source_db]
host = sh-dm-db04-r0.datayes.com
user = uts_sync
password = uts_sync
database = bigdata

[target_db]
host = 192.168.229.129
user = root
password = 123456
database = test
port = 3306
