[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

# Source_DB
[73_datayesdb]
host = sh-dm-db04-r0.datayes.com
user = uts_sync
password = uts_sync
database = datayesdb

[73_bigdata]
host = sh-dm-db04-r0.datayes.com
user = uts_sync
password = uts_sync
database = bigdata

[73_news]
host = sh-dm-db04-r0.datayes.com
user = uts_sync
password = uts_sync
database = news

[73_research_rpt]
host = sh-dm-db04-r0.datayes.com
user = uts_sync
password = uts_sync
database = research_rpt

# Target_DB
[his_export]
host = 10.20.202.56
user = han.yu
password = datayes@123
database = datayesdb
port = 3306

[Ubuntu_1]
host = 192.168.229.130
user = root
password = 123456
database = cong.wang
port = 3306

[Ubuntu_2]
host = 192.168.229.130
user = root
password = 123456
database = test
port = 3306